/*  --- CSS VARIABLES --- */
:root {
  --text-color: white;
  --background-color: black;
  --nice-gray: #b4b4b4;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

/* --- START OF NAVBAR STYLES --- */
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 10;
}

.nav-links {
  display: flex;
  margin-right: 3em;
  position: relative;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  display: block;
  position: relative;
  font-size: 1.3rem;
  padding: 1rem;
  color: var(--text-color);
  text-decoration: none;
  font-family: Verdana, 'Gill Sans', sans-serif;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: var(--nice-gray);
}

.nav-links li a:hover::before {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.nav-links li a:hover {
  transition: all 0.4s ease-in-out;
  color: var(--nice-gray);
}
/* --- END OF NAVBAR STYLES --- */


/* --- START OF WELCOME SECTION STYLES --- */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  font-family: Verdana, 'Gill Sans', sans-serif;
}
/* --- END OF WELCOME SECTION STYLES --- */


/* --- START OF ABOUT ME SECTION STYLES --- */
#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  font-family: Verdana, 'Gill Sans', sans-serif;
  position: relative;
}

#about-me p {
  margin: 2rem;
}

.about-me-text {
  /* border: 1px solid red; */
  max-width: 700px;
  margin: 5.5rem auto;
}
/* --- END OF ABOUT ME SECTION STYLES --- */


/* --- START OF PROJECTS SECTION STYLES --- */
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  font-family: Verdana, 'Gill Sans', sans-serif;
  /* border: 1px solid white; */
}

#projects a {
  text-decoration: none;
  color: var(--text-color);
}

#projects img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

#projects hr {
  width: 75%;
  border-radius: 50%;
}

.project-tile {
  width: 30%;
  text-align: center;
  border: 1px solid white;
  border-radius: 35px;
  margin-top: 6.5rem;
  padding: 0.5em;
}
/* --- END OF PROJECT SECTION STYLES --- */


/*  --- START OF CONTACT SECTION STYLES --- */
#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  font-family: Verdana, 'Gill Sans', sans-serif;
}

#contact-section a {
  color: var(--text-color);
  text-decoration: none;
}
/*  --- END OF CONTACT SECTION STYLES */


/*  --- START OF FOOTER STYLES --- */
footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
/*  --- END OF FOOTER STYLES --- */
