/*  --- CSS VARIABLES --- */
:root {
  --text-color: lightgray;
  --background-color: #222222;
  --gray-hover: #b4b4b4;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* this is the div that holds everything. main content div is below. */
#everything {
  /* border: 3px solid yellow; */
  width: 45%;
  margin: 10em auto;
}

/* --- START OF NAVBAR STYLES --- */
#navbar ul {
  /* border: 2px solid green; */
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#navbar a {
  padding: 1rem;
  font-size: 20px;
  font-family: 'Verdana';
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.2s;
}

#navbar a:hover {
  color: white;
}
/* --- END OF NAVBAR STYLES --- */

hr {
  width: 290px;
  background-color: var(--text-color);
  border-color: var(--text-color);
}

/* --- START OF MAIN SECTION STYLES --- */
#mainContent {
  display: block;
  margin-top: 3rem;
  text-align: center;
  font-size: 16.5px;
}
/* --- END OF MAIN SECTION STYLES --- */


/* --- START OF PROJECTS SECTION STYLES --- */
#projects p, h3, a {
  color: var(--text-color);
  text-decoration: none;
  font-style: none;
  letter-spacing: 1px;
}

#projects div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#projects img {
  display: block;
  margin: 0 auto;
  width: 150px;
}

#projects hr {
  width: 75%;
  border-radius: 50%;
}

.project-tile {
  width: 30%;
  text-align: center;
  border: 2px solid white;
  border-radius: 35px;
  margin-top: 6.5rem;
  padding: 0.5em;
}
/* --- END OF PROJECT SECTION STYLES --- */


/*  --- START OF CONTACT SECTION STYLES --- */

/*  --- END OF CONTACT SECTION STYLES */


/*  --- START OF FOOTER STYLES --- */
footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
/*  --- END OF FOOTER STYLES --- */
